.bg-gery
	.container
		.row
			.col-md-12
			.form.text-center
				h1.form-header Связаться с нами
				form.form-box(action="/send.php" method="POST")
					#waitingpreloader.notshow
						.message.notshow
						.science
							.isthis
								span.thisisscienceiguess
								span.andthisistoo
								span.thisistooofcourse
					.row
						.form-group.col-md-4
							label(for='user-name')
							input.form-control#user-name(type='text' name='name' placeholder='Ваше имя')
						.form-group.col-md-4
							label(for='user-email')
							input.form-control#user-email(type='email' name='email' placeholder='youemail@domain.com')
						.form-group.col-md-4
							label(for='user-message-header')
							input.form-control#user-message-header(type='text' name='subject' placeholder='Тема сообщения')
					.row
						.form-group.col-md-12
							textarea.form-control#user-message(rows='10' name='message' placeholder='Напишите ваше сообщение')
					button.btn.btn-box-submit(type='submit') Отправить сообщение
