.footer-bg
	footer.container
		.row
			.col-md-2
				img.img-responsive(src='img/footer-logo.png' alt='')
			.col-md-4
				.copy © Supernova <span>2018</span><br>All Rights Reseverd
			.col-md-4
				ul
					li: a(href='index.html') Главная
					li: a.page-navigation-ash(href='page.html?load=projects') Проекты
					li: a.page-navigation-ash(href='page.html?load=services') Услуги
			.col-md-2
				ul
					li: a.page-navigation-ash(href='page.html?load=create-project') О компании
					li: a.page-navigation-ash(href='page.html?load=contacts') Контакты

script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
//- script(src="js/modernizr-custom.js")
script(src="js/main.js")
