nav.navbar.navbar-default.navbar-custom
	.container
		.row
			.navbar-header.col-md-3
				button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false')
					.sr-only toggle navigation
					.icon-bar
					.icon-bar
					.icon-bar
				a.navbar-brand(href='index.html')
					img(alt='Brand' src='img/logo.png' width='100%' style='margin-top:-65px;')
			.collapse.navbar-collapse#bs-example-navbar-collapse-1.col-md-8
				ul.nav.navbar-nav
					li.active: a.tt-up(href='index.html') главная
					li: a.tt-up(href='page.html?load=projects') проекты
					li: a.tt-up(href='page.html?load=services') услуги
					li: a.tt-up(href='page.html?load=create-project') создать проект
					li: a.tt-up(href='page.html?load=about') о компании
					li: a.tt-up(href='page.html?load=contacts') контакты
					li: #search-button
form#search-form.hide
	#search-close
	input.control(type='text' placeholder='Что ищем?...')
	input.hide(type='submit')

.lang-switcher
	a.active(href="/") RU
	a(href="/en") EN

.jumbotron
	.container
		h1 Инновации
		p ООО «Флоренс Компани» осуществляют генподрядную деятельность<br>в Республике Беларусь, России и Казахстане.
		p: a.btn.btn-primary.btn-lg(href='page.html?load=create-project' role='button') Заказать проект
