meta( charset="UTF-8" )
meta( http-equiv='x-ua-compatible' content='ie=edge' )
meta( name='viewport' content='width=1180,user-scalable=yes,shrink-to-fit=no' )

title Флоренс компани

link( rel='icon' type='image/png' href='img/favicon.png' )

link( rel='apple-touch-icon' href='img/icon/atouchico.png' )

mtea( property='og:type' content='website' )
mtea( property='og:url' content='http://florens.by/index.html' )
mtea( property='og:title' content='Флоренс компани' )
mtea( property='og:image' content='http://florens.by/img/ogimg.jpg' )
mtea( property='og:description' content='Флоренс компани' )
mtea( property='og:site_name' content='Site Name' )
mtea( property='og:locale' content='ru_RU' )

link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" )
link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" )
link( rel='stylesheet' href='css/main.css' )
link( rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css' )
link( href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic' rel='stylesheet' )

// Google Tag Manager
script: include gtm.js
// End Google Tag Manager
