.container.main-page-content
	.row.block-1
		.col-md-12.mab-40
			.row
				h1.col-md-8
					| Осуществляем
					span.red  генподрядную
					|  деятельность с 2007 г.
				.col-md-4
					h2.text-right.tt-up.lsp-5.pos-r.d-ib.fl-r о
						span.red  компании
					.liner-head-left.fl-r
		.col-md-8
			p.lh-30 За это время нами были возведены следующие объекты:
				ul
					li паркинг многофункционального комплекса «Магнит Минска»;
					li первая очередь логистического центра «Прилесье»;
					li конструктивная часть Иранского посольства;
					li административное здание по ул. Антоновской, 2-а.

		.col-md-offset-1.col-md-3
			img.img-responsive(src="img/left-banner.png" alt="Responsive image")

	.block-2
		.row
			.col-md-12.mab-80
				h2.tt-up.lsp-5.d-ib наши
					span.red  проекты
				.liner-head-right
		.row
			.col-md-6
				.i-want-beton
					.i-want-beton-left
					img.red-border.img-responsive(src="img/projects.png" alt="Responsive image")
			.col-md-4.mar-40
				span.red.tt-up.fwb Минск
				.box-header Возведенные<br>объекты
				.box-content.lh-30 Каждый наш объект – это продукт высокого качества, удовлетворяющий ваши самые смелые запросы. Мы не поддерживаем посредственность и скуку. Мы выступаем за постоянное развитие и уникальность!
				a.btn.btn-show-projects.tt-up(href='page.html?load=projects' role='button') посмотреть проекты
	.block-3
		.row
			.col-md-12.mab-80
				h2.tt-up.lsp-5.text-right.d-ib.fl-r почему
					span.red  флоренс
				.liner-head-left.fl-r
		.row
			.col-md-3
				.box-header Качество
				.box-content.lh-30 Качество – одинаково важная задача как для руководства компаний, так и для работников. Мы доверяем работу только квалифицированному персоналу, находя возможности и способы для профессионального роста каждого сотрудника.
			.col-md-3.col-md-offset-1
				.box-header Обязанность
				.box-content.lh-30 Наша обязанность – непрерывно развивать систему управления качеством, опираясь на пожелания и отзывы клиентов. Своим трудом мы завоевываем доверие партнеров и создаем престиж нашей компании, которая, в свою очередь, действует как фактор расширения рынка.
			.col-md-3.col-md-offset-1
				.box-header Безопасность
				.box-content.lh-30 Неотъемлемой частью деятельности нашей компании является безопасность труда и охрана здоровья работников. За безопасностью проводимых работ следят линейные руководители, субподрядчики и другие организации.

	.block-4.mab-40
		.row
			.col-md-12.mab-80
				h2.tt-up.lsp-5.d-ib последние
					span.red  новости
				.liner-head-right
		.row
			.col-md-4
				.thumbnail
					a(href='0000.html'): img(src='img/news-0.png' alt='')
					.caption
						.date 19 марта 2018
						h3: a(href='0000.html') Опубликован рейтинг лучших архитектурных школ-2018
						a.btn.btn-more(href='0000.html' role='button') подробнее
			.col-md-4
				.thumbnail
					a(href='0001.html'): img(src='img/news-1.png' alt='')
					.caption
						.date 10 марта 2018
						h3: a(href='0001.html') Проект самой высокой в мире постройки прошел все испытания
						a.btn.btn-more(href='0001.html' role='button') подробнее
			.col-md-4
				.thumbnail
					a(href='0002.html'): img(src='img/news-2.png' alt='')
					.caption
						.date 1 марта 2018
						h3: a(href='0002.html') Группа американских ученых нашла инновационный способ укрепления древесины
						a.btn.btn-more(href='0002.html' role='button') подробнее

include feedback_form
