.footer-bg {
	// position: absolute;
 //  left: 0;
 //  right: 0;
 //  bottom: 0;
 //  width: 100%;
	margin: 50px 0 0 0;
	background-image: url(../img/bg-footer.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1840px;
	min-height: 250px;
	.copy {
		color: #999999;
	}
	ul {
		list-style: none;
	}
	li a {
		color: #999999;
		font-size: 13px;
		text-decoration: none;
		&:hover {
			color: #d02018;
			text-decoration: none;
		}
	}
}
footer.container {
	min-height: 250px;
	position: relative;
	.row {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: translatey(-50%);
		img {
			margin-top: -15px
		}
	}
}
