.red { color: #d02018; }
.red-border { border: 8px solid #d02018; }
.bg-gery { background-color: #f4f4f4; }
.tt-up { text-transform: uppercase; }
.ma-tb-15 { margin-top: 15px; margin-bottom: 15px; }
.mar-40 { margin: 40px; }
.mab-40 { margin-bottom: 40px; }
.mab-80 { margin-bottom: 80px; }
.mat-75 { margin-top: 75px; }
.mat-80 { margin-top: 80px; }
.mat-40 { margin-top: 40px; }
.mab-m-15 { margin-bottom: -15px;}
.lh-30 { line-height: 30px; }
.lsp-5 { letter-spacing: 5px; }
.pos-r { position: relative; }
.pos-a { position: absolute; }
.d-ib { display: inline-block; }
.fl-r { float: right; }
.fl-l { float: left; }
.fwb { font-weight: bold; }
.h-100 { min-height: 200px; }
.pad-ub-80 { padding-top: 80px; padding-bottom: 80px;}
