// main.scss

html {
	min-width: 940px;
	font-family: 'Open Sans', sans-serif !important;
	* {
		font-family: 'Open Sans', sans-serif !important;
	}
}

.content-40p {
	max-width: 1840px;
	margin: 40px;
	min-height: calc(100vh - 80px);
}
.news{
	&-date {
		color: #ccc;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
	}
	p {
		font-size: 12px;
		color: #666666;
		margin: 20px 0;
	}
}

#data-page {
	overflow: hidden;
}

@import '_nav';
@import '_shortcuts';
@import '_footer';

.preloader {
	display: inline-block;
	width: 100%;
	min-height: 250px;
	text-align: center;
	font-weight: bold;
	color: #444;
	text-decoration: none;
}
.pulse {
	position: relative;
	width: 150px;
	height: 250px;
	margin: 0 auto;
	img {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	transform-origin:70% 70%;
	animation-name: pulse_animation;
	animation-duration:5000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.18); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.15); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

.space-for-footer { margin-bottom: 420px; }

.main-page-content {
	[class*='block-'] { padding-top: 80px; }
	h1 {
		margin-top: 0;
		font-size: 36px;
		font-weight: bold;
	}
	h2 {
		margin-top: 0;
		font-size: 16px;
		font-weight: bold;
	}
	h3 {
		margin-top: 0;
		font-size: 14px;
		font-weight: bold;
	}
	p {
		font-size: 14px;
		color: #666666;
	}
	.btn-primary{
		&:focus {background: #900000 !important;}
		&:hover{background: #900000 !important;}
	}
	.btn-primary:active:focus, .btn-primary:active:hover {
		background: #900000 !important;
	}
}
.jumbotron p .btn {
	&:focus {background: #900000 !important;}
	&:hover {background: #900000 !important;}
	&:active:focus {background: #900000 !important;}
	&:active:hover {background: #900000 !important;}
}
.i-want-beton {
	position: relative;
	img {
		position: relative;
		z-index: 5;
	}
	&-left {
		z-index: 3;
		display: block;
		position: absolute;
		background-image: url(../img/beton.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		left: -335px;
		right: 30%;
		top: -15%;
		bottom: -15%;
	}
}

.thumbnail {
	box-shadow: none;
	border: none;
	.caption {
		padding: 0;
	}
	h3 {
		a {
			color: #050505;
			font-size: 18px;
			font-weight: bold;
		}
	}
	.btn-more {
		padding: 0;
		color: #999999;
		background: none;
		border: none;
		box-shadow: none;
		text-transform: capitalize;
		font-size: 13px;
		font-weight: bold;
		&:hover {
			color: #d02018;
		}
	}
	.date {
		color: #cccccc;
		font-size: 13px;
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

.btn-show-projects {
	color: #050505;
	padding: 0;
	font-weight: bold;
	margin: 40px 0 0 0;
	&:hover {
		color: #d02018;
	}
}
.form-header {
	font-size: 30px;
	font-weight: bold;
	margin: 75px auto;
	text-align: center;
}
.form-box {
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	padding: 40px;
	margin-bottom: 75px;
	.btn-box-submit {
		box-shadow: none;
		appearance: none;
		border: none;
		background: none;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
		color: #050505;
		line-height: 1.2;
		padding: 5px;
		margin: 75px auto 35px;
		&:hover {
			text-decoration: underline;
		}
	}
	textarea {
		margin: 35px 0 0;
	}
	input, textarea {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		box-shadow: none;
		appearance: none;
		border: none;
		border-bottom: 1px solid rgba(0,0,0,.15);
		border-radius: 0;
		outline: none;
		padding: 0;
		&:hover {
			border-color: #050505;
		}
		&:focus {
			border-color: #050505;
			box-shadow: none;
			outline: none;
		}
		&:focus:active {
			border-color: #050505;
			box-shadow: none;
			outline: none;
		}
	}
}

.liner-head-left,
.liner-head-right {
	display: inline-block;
	margin: 8px 0 8px 0;
	width: 102px;
	height: 1px;
	background: #050505;
}
.liner-head-left { margin-right: 20px; }
.liner-head-right { margin-left: 20px; }



.box-header {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 45px;
}
.box-content {
	font-size: 14px;
	color: #666666;
}


@media screen and (min-width: 1900px) {
	.content-40p {
		margin: 40px auto;
	}
}







.page-name {
	font-size: 16px;
	margin: 0;
	font-weight: bold;
}
.project {
	margin-top: 80px;
	margin-bottom: 260px;
}
.project-about {
	&-space {
		height: 405px;
		margin-top: 70px;
		margin-bottom: 70px;
	}
	&-image {
		position: absolute;
		background-size: 100%;
		background-image: url(http://via.placeholder.com/725x545);
		background-repeat: no-repeat;
		background-position: center;
		background-clip: cover;
		display: block;
		top: -80px;
		bottom: -80px;
		&.pull-left {
			right: 0;
			left: -335px;
		}
		&.pull-right {
			left: 0;
			right: -335px;
		}
	}
	&-header {
		font-size: 30px;
		font-weight: bold;
		color: #000000;
		margin-bottom: 30px;
	}
	&-text {
		font-size: 14px;
		font-weight: normal;
		color: #999999;
		margin-bottom: 60px;
	}
	&-btn-more {
		font-size: 13px;
		font-weight: bold;
		color: #000000;
		cursor: pointer;
		&:hover {
			color: #d02018;
		}
	}
}
.project-header {
	margin: 0;
	color: #cccccc;
	&-number {
		font-size: 120px;
		font-weight: normal;
	}
	&-text {
		font-size: 24px;
		font-weight: normal;
	}
}



// SERVICE
.services {
	margin-bottom: 40px;
	&-box {
		margin-bottom: 40px;
		&-icon {
			width: 80px;
			height: 80px;
			background-repeat: no-repeat;
			background-position: left center;
			margin-bottom: 20px;
		}
		&-header {
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 30px;
		}
		&-text {
			font-size: 14px;
			font-weight: normal;
			color: #999999;
		}
	}
}
.services-box-want-action {
	font-size: 36px;
	font-weight: bold;
}

.btn-start-projcet {
	z-index: 10;
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 50%;
	transform: translatey(-50%);
	background-color: #d02018;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	padding: 15px 45px;
	&:hover {
		color: #fff;
		text-decoration: none;
		background-color: #900000;
	}
}



//  .contacts-box

.contacts{
	&-box {
		&-icon{
			width: 45px;
			height: 45px;
			margin-bottom: 30px;
			background-repeat: no-repeat;
			background-position: left center;
			font-size: 0;
		}
		&-header {
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 15px;
		}
		&-body {
			font-size: 13px;
			color: #666666;
		}
	}
}


//. about

.about {
	&-top-head{
		font-size: 14px;
		color: #999999;
	}
	&-header {
		font-size: 48px;
		font-weight: bold;
	}
	&-body {
		font-size: 14px;
		font-weight: normal;
		color: #666666;
	}
	&-img {
		background-image: url(../img/bg_about.png);
		background-repeat: no-repeat;
		background-clip: center;
		background-size: 1840px;
		width: 100%;
		height: 800px;
		margin: 80px 0;
	}
}


.form-box {
	position: relative;
}
#waitingpreloader {
	z-index: 100;
	background-color: #fff;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	opacity: 1;
	visibility: visible;
	transition: all 300ms ease;
}
#waitingpreloader * {
	transition: all 300ms ease;
}
.notshow {
	opacity: 0 !important;
	visibility: hidden !important;
}
.message {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	color: #a9201b;
}
.science {
	z-index: 100;
	position: absolute;
	width: 120px; height: 120px;
	top: 50%; left: 50%;
	margin: -60px 0 0 -60px;
	transform: rotate(45deg);
}
.isthis {
	width: 100%; height: 100%;
	transform: rotate(-45deg);
}
.thisisscienceiguess,
.andthisistoo,
.thisistooofcourse {
	position: absolute;
	display: block;
	width: 100%; height: 100%;
	top: 0; left: 0;
	border-width: 4px;
	border-style: solid;
	border-radius: 100%;
	opacity: .9;
}
.thisisscienceiguess {
	border-color: #707c7d;
	animation: center 2s ease-in-out infinite;
}
.andthisistoo {
	border-color: #dd6822;
	animation: top 2s ease-in-out infinite;
}
.thisistooofcourse {
	border-color: #3bbfd6;
	animation: bottom 2s ease-in-out infinite;
}
@keyframes center {
	0%   {transform: rotateY(0deg)}
	50%  {transform: rotateY(90deg)}
	100% {transform: rotateY(360deg)}
}
@keyframes top {
	0%   {transform: rotateY(0deg) rotateX(0deg)}
	50%  {transform: rotateY(90deg) rotateX(45deg)}
	100% {transform: rotateY(360deg) rotateX(0deg)}
}
@keyframes bottom {
	0%   {transform: rotateY(0deg) rotateX(0deg)}
	50%  {transform: rotateY(90deg) rotateX(-45deg)}
	100% {transform: rotateY(360deg) rotateX(0deg)}
}
