
<div class="container">
  <div class="block-1">
    <div class="row">
      <div class="col-md-12 mat-75 mab-m-15">
        <h2 class="tt-up lsp-5 text-right d-ib fl-r page-name">наши<span class="red"> проекты</span></h2>
        <div class="liner-head-left fl-r"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 project-about-space">
        <div class="project-about-image pull-left" style="background-image:url(img/projects/p01.png);"></div>
      </div>
      <div class="col-md-offset-1 col-md-7 project">
        <h1 class="project-header"><span class="project-header-number">01</span><span class="project-header-text tt-up">/ конструктивная часть</span></h1>
        <div class="project-about">
          <h2 class="project-about-header">Здание посольства Исламской республики Иран</h2>
          <p class="project-about-text">Строительство здания началось еще в 2011 году в живописном районе Комсомольского озера. В 2014-м году объект был сдан. ООО «Флоренс Компани» принимало участие в возведение конструктивной части.</p>
          <p class="project-about-text">Постройка получилась роскошной и поистине уникальной. Созданная в восточном стиле, она удачно вписалась в городские пейзажи Минска. Несмотря на массивность, постройка выглядит совсем не громоздко. Застекленный фасад здания привносит легкость и современность, успешно подчеркивая эклектичность корпуса.</p>
          <p class="project-about-text">Впечатляет и внутреннее убранство помещений. Мраморные полы подчеркивают элитарность постройки. А панорамные окна пропускают много солнечного света, делая комнаты светлее и теплее. Радуют глаз и массивные колонны, которые поддерживают высокие потолки с роскошными люстрами.</p>
          <p class="project-about-text">Стены украшены бюстами политических деятелей Ирана и картинами с восточными пейзажами. Эти мелкие детали подчеркивают представительный и стильный интерьер посольства.  А в темное время суток здание подсвечено множеством огней, тем самым подчеркивая восточную жемчужину на берегу Комсомольского озера.</p><a class="project-about-btn-more tt-up">подробнее об объекте</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 project">
        <h1 class="project-header"><span class="project-header-number">02</span><span class="project-header-text tt-up">/ строительство</span></h1>
        <div class="project-about">
          <h2 class="project-about-header">Логистический центр «Прилесье»</h2>
          <p class="project-about-text">Здание было построено в 2013-м году на пересечении автодорог М-1/Е30 и М-4. Помимо складских помещений, на территории центра расположены административные и офисные помещения, торгово-выставочная часть, интермодальные терминалы и пр.</p>
          <p class="project-about-text">Постройка выполнена в модульном стиле. Высокопрочные металлические конструкции выполнены с учетом всех тенденций европейского строительства XXI века. Материалы, задействованные при строительстве центра, предусматривают современную отделку со всей необходимой инфраструктурой.</p>
          <p class="project-about-text">Здание не уступает в своем удобстве классическим корпусам. Кроме того, они выглядят необычно. Их популярность растет с каждым годом не только из-за дешевизны и простоты возводимости, но и благодаря своей практичности в использовании.</p>
          <p class="project-about-text">Несмотря на свою конструкцию, логистический центр не выглядит уныло. Его стильный дизайн выгодно выделяется на местности. А цветовая отделка придает строгость и представительность.</p><a class="project-about-btn-more tt-up">подробнее об объекте</a>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-4 project-about-space">
        <div class="project-about-image pull-right" style="background-image:url(img/projects/p02.png);"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 project-about-space">
        <div class="project-about-image pull-left" style="background-image:url(img/projects/p03.png);"></div>
      </div>
      <div class="col-md-offset-1 col-md-7 project">
        <h1 class="project-header"><span class="project-header-number">03</span><span class="project-header-text tt-up">/ конструктивная часть</span></h1>
        <div class="project-about">
          <h2 class="project-about-header">Административное здание по ул. Антоновской, 2-а</h2>
          <p class="project-about-text">Здание построено в 2009 году. Объект включает в себя административное здание с офисными помещениями, а также подземный гараж-стоянку на 118 машиномест. Также постройка включает в себя два технических этажа.</p>
          <p class="project-about-text">Высотка выполнена в современном стиле и удачно вписывается в городской пейзаж. На первом этаже административного здания расположены кафе, вестибюль и технические помещения, 2-16 этажи отданы под офисные помещения.</p>
          <p class="project-about-text">Наличие большого количества застекленных поверхностей и панорамных окон придают постройке свой шарм и современность. А интерьер офисных помещений соответствует всем современным канонам.</p><a class="project-about-btn-more tt-up">подробнее об объекте</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 project">
        <h1 class="project-header"><span class="project-header-number">04</span><span class="project-header-text tt-up">/ строительство</span></h1>
        <div class="project-about">
          <h2 class="project-about-header">Паркинг многофункционального комплекса «Магнит Минска»</h2>
          <p class="project-about-text">Гостинично-деловой комплекс «Магнит Минска» на данном этапе еще не сдан. Однако большинство его частей уже построены. Объект включает в себя гостиницу 5 звезд, офисное здание бизнес-центра, торговый центр и парковку.</p>
          <p class="project-about-text">Дизайн комплекса смел и современен. В будущем он станет важным стратегическим местом для крупнейших компаний, а также привлекательной жемчужиной Минска для жителей и гостей города.</p>
          <p class="project-about-text">В дополнение к общественным автомобильным парковкам комплекс предлагает удобный многоуровневый паркинг. Он в свою очередь разбит на три кластера: наземный (415 мест), подземный( 379 мест) и многоэтажный (467 мест). Парковочный комплекс находится рядом с главным корпусом, что делает парковку для посетителей еще удобнее.</p><a class="project-about-btn-more tt-up">подробнее об объекте</a>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-4 project-about-space">
        <div class="project-about-image pull-right" style="background-image:url(img/projects/p04.png);"></div>
      </div>
    </div>
  </div>
</div>
<div class="bg-gery">
  <div class="container">
    <div class="row">
      <div class="col-md-12"></div>
      <div class="form text-center">
        <h1 class="form-header">Связаться с нами</h1>
        <form class="form-box" action="/send.php" method="POST">
          <div class="notshow" id="waitingpreloader">
            <div class="message notshow"></div>
            <div class="science">
              <div class="isthis"><span class="thisisscienceiguess"></span><span class="andthisistoo"></span><span class="thisistooofcourse"></span></div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="user-name"></label>
              <input class="form-control" id="user-name" type="text" name="name" placeholder="Ваше имя"/>
            </div>
            <div class="form-group col-md-4">
              <label for="user-email"></label>
              <input class="form-control" id="user-email" type="email" name="email" placeholder="youemail@domain.com"/>
            </div>
            <div class="form-group col-md-4">
              <label for="user-message-header"></label>
              <input class="form-control" id="user-message-header" type="text" name="subject" placeholder="Тема сообщения"/>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <textarea class="form-control" id="user-message" rows="10" name="message" placeholder="Напишите ваше сообщение"></textarea>
            </div>
          </div>
          <button class="btn btn-box-submit" type="submit">Отправить сообщение</button>
        </form>
      </div>
    </div>
  </div>
</div>