
<div class="container">
  <div class="block-1 contacts">
    <div class="row">
      <div class="col-md-12 mat-75 mab-80">
        <h2 class="tt-up lsp-5 text-right d-ib fl-r page-name">наши<span class="red"> контакты</span></h2>
        <div class="liner-head-left fl-r"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 contacts-box">
        <div class="contacts-box-icon" style="background-image:url(img/icon/phone.png);"></div>
        <div class="contacts-box-header tt-up">Телефон</div>
        <div class="contacts-box-body">Факс: +375 17 296 09 5</div>
      </div>
      <div class="col-md-4 contacts-box">
        <div class="contacts-box-icon" style="background-image:url(img/icon/location.png);"></div>
        <div class="contacts-box-header tt-up">Адрес</div>
        <div class="contacts-box-body lh-30">220118, Республика Беларусь,<br>г. Минск,  ул. Шишкина, д.20,<br>корп.1, каб.31</div>
      </div>
      <div class="col-md-4 contacts-box">
        <div class="contacts-box-icon" style="background-image:url(img/icon/mail.png);"></div>
        <div class="contacts-box-header tt-up">email</div>
        <div class="contacts-box-body">info@florens.by</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12"></div>
      <div class="form text-center">
        <h1 class="form-header">Связаться с нами</h1>
        <form class="form-box" action="/send.php" method="POST">
          <div class="notshow" id="waitingpreloader">
            <div class="message notshow"></div>
            <div class="science">
              <div class="isthis"><span class="thisisscienceiguess"></span><span class="andthisistoo"></span><span class="thisistooofcourse"></span></div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="user-name"></label>
              <input class="form-control" id="user-name" type="text" name="name" placeholder="Ваше имя"/>
            </div>
            <div class="form-group col-md-4">
              <label for="user-email"></label>
              <input class="form-control" id="user-email" type="email" name="email" placeholder="youemail@domain.com"/>
            </div>
            <div class="form-group col-md-4">
              <label for="user-message-header"></label>
              <input class="form-control" id="user-message-header" type="text" name="subject" placeholder="Тема сообщения"/>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <textarea class="form-control" id="user-message" rows="10" name="message" placeholder="Напишите ваше сообщение"></textarea>
            </div>
          </div>
          <button class="btn btn-box-submit" type="submit">Отправить сообщение</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="contacts-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18822.969145694646!2d27.61545287341487!3d53.86293924349337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd1ff95745831%3A0xd7d5ccc65d6337db!2z0YPQu9C40YbQsCDQqNC40YjQutC40L3QsCAyMCwg0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1517390734467" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="allowfullscreen"></iframe>
</div>