<!DOCTYPE html>
html.no-js(lang="ru")
	head
		include ../template/head
	body
		.content-40p
			include ../template/page-header
			.container
				.block-1.create-project
					.row
						.col-md-12.mat-75.mab-80
							h2.tt-up.lsp-5.text-center.news-name Опубликован рейтинг лучших архитектурных школ-2018
				.news
					.row
						.col-md-12.mab-40
							.news-date 19 марта 2018
					.row
						.col-md-12.mab-40
							.news-text
								p.lh-30 Ежегодно компания Quacquarelli Symonds составляет рейтинг, в который входят 200 мировые архитектурные школы. Данная система ранжирования – единственный международный обзор образования в этой сфере.
								p.lh-30 Рейтинг вновь возглавляет Массачусетский технологический университет. А впервые в истории существования Топ-200 в десятке лучших оказалось множество европейских университетов.
								p.lh-30
									ul(style='list-style-type:decimal;')
										li MIT: Массачусетский технологический институт, США
										li Школа архитектуры Бартлетт, Великобритания
										li Университет Делфта, Голландия
										li ETH Zürich: Технический университет Цюриха, Швейцария
										li Калифорнийский университет в Беркли, США
										li Гарвардский университет, США
										li Манчестерская школа архитектуры, Великобритания
										li Кембриджский университет, Великобритания
										li Миланский технический университет, Италия
										li Национальный университет Сингапура
								img.img-responsive(src='img/news-0-big.jpg' alt='' width='100%')
			include ../template/footer
