<!DOCTYPE html>
html.no-js(lang="ru")
	head
		include ../template/head
	body
		.content-40p
			include ../template/page-header
			.container
				.block-1.create-project
					.row
						.col-md-12.mat-75.mab-80
							h2.tt-up.lsp-5.text-center.news-name Проект самой высокой в мире постройки прошел все испытания
				.news
					.row
						.col-md-12.mab-40
							.news-date 10 марта 2018
					.row
						.col-md-12.mab-40
							.news-text
								p.lh-30 Башня Dubai Creek, созданная проектировщиком Сантьяго Калатравы, будет построена в городе Дубаи, ОАЭ. Два года назад данный макет одержал победу, и только сейчас инженерное бюро BMT полностью проработало всю рабочую документацию. Некоторые детали башни были скорректированы.
								p.lh-30 Итоговая высота постройки держится в секрете. Но одно известно точно: Dubai Creek превзойдет минимум на 100 метров теперешнего рекордсмена – небоскреб «Бурдж-Халифа» в Дубае высотой 829,8 метров.
								p.lh-30 Первые работы начались еще в 2017-м. Официальное открытие башни запланировано в 2020 году к старту ЭКСПО-2020 в Дубаи.
								img.img-responsive(src='img/news-1-big.jpg' alt='' width='100%')
			include ../template/footer
