<!DOCTYPE html>
html.no-js(lang="ru")
	head
		include ../template/head
	body
		.content-40p
			include ../template/page-header
			.container
				.block-1.create-project
					.row
						.col-md-12.mat-75.mab-80
							h2.tt-up.lsp-5.text-center.news-name Группа американских ученых нашла инновационный способ укрепления древесины
				.news
					.row
						.col-md-12.mab-40
							.news-date 1 марта 2018
					.row
						.col-md-12.mab-40
							.news-text
								p.lh-30 Предыдущие решения не приводили к ожидаемому результату – получившийся материал быстро терял прочность. Авторы метода из Университета Мэриленда предлагают два этапа обработки дерева:
									ul
										li вначале материал вываривают в щелочном растворе. Этот процесс позволяет избавиться от укрепляющих стенки клеток полимеров.
										li готовую смесь сжимают при нагреве. В это время формируется множество водородных связей между цепочками целлюлозы. Поэтому материал разорвать практически невозможно.
								p.lh-30 Интересно, что после обработки на древесину почти не действует влага. Такой материал подходит для дизайна и построек любых форм.
								img.img-responsive(src='img/news-2-big.jpg' alt='' width='100%')
			include ../template/footer
