.container
	.block-1.create-project
		.row
			.col-md-12.mat-75.mab-80
				h2.tt-up.lsp-5.text-right.d-ib.fl-r.page-name Создать свой
					span.red  проект
				.liner-head-left.fl-r
		.row
			p.th-30 Давно вынашиваете в голове идеи обустройства своей квартиры, но не можете воплотить их в жизнь? ООО «Флоренс Компани» поможет вам!
			p.th-30 Сделайте первый шаг к новому интерьеру! Создайте проект своей квартиры на нашем сайте! С его помощью вы легко претворите в жизнь свои самые смелые мечты! Работа с приложением проста, от вас требуется лишь креатив, воображение и некоторые навыки работы с графическими построениями.
			p.th-30 Готовый проект вы можете сохранить на нашем сайте в электронном виде, а также распечатать его для дальнейшей работы. Также вы можете поделиться им на своих страницах в социальных сетях.
			p.th-30 Откройте дверь переменам вместе с ООО «Флоренс Компани»!
		.row
			.col-md-12.mab-40
				iframe(src='https://planner5d.com/v/?key=4045ea2faa41bfe77ee17903488897fa&zoom=0&lockwall=0&lockns=0&catalog=1' style='width:100%;height:600px;border:none;' mozallowfullscreen webkitallowfullscreen allowfullscree)
		.row
			.col-md-12.lh-30.mab-80 Чтобы воспользоваться программным продуктом, который предлагает бесплатное проектирование квартиры, необходимо иметь некоторые навыки работы с компьютером и графическими построениями.

include template/feedback_form
