.container
	.block-1.contacts
		.row
			.col-md-12.mat-75.mab-80
				h2.tt-up.lsp-5.text-right.d-ib.fl-r.page-name наши
					span.red  сертификаты
				.liner-head-left.fl-r

		.row.mab-80
			.col-md-4.ma-tb-15
				a(href='#')
					img.img-responsive(src='http://via.placeholder.com/370x428' alt='')
			.col-md-4.ma-tb-15
				a(href='#')
					img.img-responsive(src='http://via.placeholder.com/370x428' alt='')
			.col-md-4.ma-tb-15
				a(href='#')
					img.img-responsive(src='http://via.placeholder.com/370x428' alt='')
			.col-md-4.ma-tb-15
				a(href='#')
					img.img-responsive(src='http://via.placeholder.com/370x428' alt='')
			.col-md-4.ma-tb-15
				a(href='#')
					img.img-responsive(src='http://via.placeholder.com/370x428' alt='')
			.col-md-4.ma-tb-15
				a(href='#')
					img.img-responsive(src='http://via.placeholder.com/370x428' alt='')

include template/feedback_form
