.container
	.block-1.about
		.row
			.col-md-offset-1.col-md-2.mat-80
				img(src='img/about-left.svg')
			.col-md-offset-1.col-md-7.mat-80
				.about-top-head.tt-up.lsp-5 флоренс компани
				.about-header.mab-80 Мы находим решения для любой проблемы
				.about-body
					p.lh-30 ООО «Флоренс Компани» осуществляют генподрядную деятельность в Республике Беларусь, России и Казахстане.
					br
					p.lh-30 За это время нами были возведены следующие объекты:
						ul
							li паркинг многофункционального комплекса «Магнит Минска»;
							li первая очередь логистического центра «Прилесье»;
							li конструктивная часть Иранского посольства;
							li административное здание по ул. Антоновской, 2-а.
					p.lh-30 В настоящее время заканчивается строительство следующих объектов:
						ul
							li точечная застройка квартала на пересечении ул. Каховская-Оршанская-Орловская-Сморговский тракт с точечными высотными жилыми домами (1-ая очередь);
							li жилые дома № 4, 5 по (генплану), не относящиеся к жилым домам повышенной комфортности, с подземным гаражом-стоянкой;
							li жилой дом №4 (по генплану) без применения серии МАПИД, со встроено-пристроенными помещениями общественного назначения и гаражом-стоянкой открытого типа;
							li реконструкция производственного корпуса по обслуживанию автомобилей и строительство административно-бытового корпуса с офисными помещениями в виде отдельных зданий, стоянка для автотранспорта и другие объекты в районе д.Обчак Минского района.
					p.lh-30 ООО «Флоренс Компани» – это эффективная система управления компаниями, что является основой для успешной работы. Своим трудом мы завоевываем доверие клиентов и создаем престиж наших компаний, которые, в свою очередь, действуют как фактор расширения рынка. Наша обязанность – непрерывно развивать систему управления качеством, опираясь на пожелания и отзывы клиентов.

.about-img

.container
	.block-1.about
		.row
			.col-md-offset-4.col-md-7.mab-80
				.about-body
					p.lh-30 ООО «Флоренс Компани» – это команда более чем из ста специалистов с большим опытом работы. Ключевые позиции в нашей компании занимают латвийские инженеры. Опытные специалисты с глубокими познаниями в области проектирования и строительства включаются в проект на ранних стадиях. Это снижает количество дополнительных работ, экономит средства Заказчика и сокращает сроки реализации проекта. Мы доверяем работу только квалифицированному персоналу, находя возможности и способы для профессионального роста каждого сотрудника.
					p.lh-30 ООО «Флоренс Компани» – это высокий уровень охраны труда и здоровья наших работников. За безопасностью проводимых работ следят линейные руководители, субподрядчики и другие организации.
					p.lh-30 Мы гарантируем высокое качество и безопасность наших работ!

include template/feedback_form
