<!DOCTYPE html>
html.no-js(lang="ru")
	head
		include template/head
	body
		// Google Tag Manager (noscript)
		noscript
			iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-NV632J4" height="0" width="0" style="display:none;visibility:hidden")
		// End Google Tag Manager (noscript)
		.content-40p
			include template/header
			include template/main
			include template/footer
