<!DOCTYPE html>
html.no-js(lang="ru")
	head
		include template/head
	body
		.content-40p
			include template/page-header
			.container
				.block-1.create-project
					.row
						.col-md-12.mat-75.mab-80
							h2.tt-up.lsp-5.text-center.news-name Экодом Villa Kogelhof от Paul de Ruiter Architects – образец жилья нового поколения, Нидерланды
				.news
					.row
						.col-md-12.mab-40
							.news-date 24 января 2018
					.row
						.col-md-12.mab-40
							.news-text
								p.lh-30 Концепция резиденции Villa Kogelhof на юго-западе Нидерландов заключается в возможности полной самообеспеченности здания, что делает виллу энергетически нейтральной. Благодаря  ряду высокотехнологичных инфраструктурных систем в доме поддерживается комфортный климат на протяжении всех сезонов, при этом энергетические ресурсы расходуются  крайне рационально. Энергоэффективность была одним из важнейших пожеланий клиента, которую необходимо было включить в проект простой, но при этом необычной виллы.
								img.img-responsive(src='img/news/1/02.jpg' alt='' width='100%')
								p.lh-30 Вилла, общей площадью 715 кв. метров, представляет собой часть масштабной правительственной программы, в рамках которой региональные зоны по всей стране переводят на экологичное энергообеспечение. Владелец виллы еще в 2006 году приобрел участок в пределах защищенной среды обитания животных и растений.
								img.img-responsive(src='img/news/1/03.jpg' alt='' width='100%')
								img.img-responsive(src='img/news/1/04.jpg' alt='' width='100%')
								p.lh-30 Кроме того эта территория привлекает крупный поток туристов, так как заповедник открыт для посещений. Поэтому разрешение на строительство жилого дома на земельном участке было выдано только при условии, что на нём будет высажено более 70 000 шестилетних деревьев. Также на участке был выкопан пруд.
								img.img-responsive(src='img/news/1/05.jpg' alt='' width='100%')
								img.img-responsive(src='img/news/1/06.jpg' alt='' width='100%')
								p.lh-30 Они выглядят как две прозрачных стеклянных коробки, поддерживаемые стальным V-образным каркасом. Центральный вход в виллу находится на цокольном этаже, рядом со входом располагается крытая парковка на шесть машин и трактор. Жилая зона  размещена в «летающем» стеклянном объеме над землей.
								img.img-responsive(src='img/news/1/07.jpg' alt='' width='100%')
								img.img-responsive(src='img/news/1/08.jpg' alt='' width='100%')
								p.lh-30 Планировка полностью открытая, не считая немногочисленных тонких демонтируемых стеклянных перегородок. Есть несколько отдельных помещений:  кухня, спальня, ванная комната и многофункциональный зал. Весь фасад выполнен из стекла, благодаря чему изнутри Villa Kogelhof открывается потрясающий вид на природный ландшафт. Фасад в этом проекте играет не только эстетическую роль.
								img.img-responsive(src='img/news/1/09.jpg' alt='' width='100%')
								img.img-responsive(src='img/news/1/10.jpg' alt='' width='100%')
								p.lh-30 Он сделан из внешнего слоя прозрачного изолированного панорамного стекла и внутреннего слоя солнцезащитной ткани, которую можно свернуть или раскатать. Соответственно, когда ткань опускается, создается дополнительное воздушное пространство, а воздух из виллы выходит через центральную систему вентиляции. Выработка теплой воды обеспечивается с помощью каминной печи, в которой сжигаются дрова из собственного леса, а электричество вырабатывается с помощью массива солнечных батарей на крыше и небольшого ветрогенератора.
								img.img-responsive(src='img/news/1/11.jpg' alt='' width='100%')
								p.lh-30 Патио с обеих сторон ограничено стеклянными дверьми, что делает его доступным для прохода через гостиную и ванную комнату. На полу – эпоксидный наливной пол белого цвета, абсолютно безвредный для здоровья и прост в уходе.
								img.img-responsive(src='img/news/1/12.jpg' alt='' width='100%')
								img.img-responsive(src='img/news/1/13.jpg' alt='' width='100%')
								p.text-right: b Фото: www.paulderuiter.nl © JeroenMusch
			include template/footer
