<!DOCTYPE html>
html.no-js(lang="ru")
	head
		include template/head
	body
		.content-40p
			include template/page-header
			#data-page
				.preloader#preloader
					.pulse
						img( alt="Brand" src="img/logo.png" width="100%" )
			include template/footer
